@media (min-width: 50rem) {
    .page__form {
        flex-direction: row;
    }

    .form__input[type="email"] {
        flex: 3;
    }

    .form__button {
        flex: 1;
    }

    .error__notice {
        position: absolute;
        padding-left: 1.5rem;
        padding-top: 0.5rem;
    }
}

@media (min-width: 68.75rem) {
    .page__form {
        flex-direction: row;
        width: 100%;
        max-width: 43rem
    }
}
