// RESET
*,
*::before,
*::after
  box-sizing border-box

html
  -moz-text-size-adjust none
  -webkit-text-size-adjust none
  text-size-adjust none

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd
  margin 0

ul[role='list'],
ol[role='list']
  list-style none

body
  min-height 100vh
  min-width 100vw

h1, h2, h3, h4,
button, input, label
  line-height 1.1

h1, h2,
h3, h4
  text-wrap balance

a:not([class])
  text-decoration-skip-ink auto
  color currentColor

img,
picture
  max-width 100%
  display block

input, button,
textarea, select
  font-family inherit
  font-size inherit

textarea:not([rows])
  min-height 10em

:target
  scroll-margin-block 5ex

// Fonts
@font-face
  font-family 'LibreFranklin'
  src: url('fonts/LibreFranklin-VariableFont_wght.woff2') format('woff2')
  src: url('fonts/LibreFranklin-VariableFont_wght.woff') format('woff')
  src: url('fonts/LibreFranklin-VariableFont_wght.ttf') format('truetype')
  font-weight 300, 600, 700
  font-style normal

// VARIABLES
red-color = hsl(354, 100%, 66%)
gray-color = hsl(0, 0%, 59%)
pale-blue = hsl(223, 100%, 88%)
blue-color = hsl(223, 87%, 63%)
dark-blue = hsl(209, 33%, 12%)

weight-light = 300
weight-semibold = 600
weight-bold = 700

// BODY
body 
  display flex
  flex-direction column
  align-items center
  justify-content center
  font-family 'LibreFranklin'
  font-size 1.25rem
  font-weight weight-light
  background linear-gradient(135deg, white, pale-blue, blue-color)
  background-repeat: no-repeat

//Page
.page
  display flex
  flex-direction column
  align-items center
  justify-content center
  gap: 4.75rem
  text-align center
  max-width 40rem
  width 85.35%
  margin 10.5rem 0 15.25rem

// Header
.header__logo
  font-size 2.5rem
  font-weight weight-bold
  line-height 1
  text-transform uppercase
  color dark-blue

  span 
    color blue-color

// Content
.page__info
  display flex
  flex-direction column
  gap 2.37rem
  max-width 35.5rem
  width 88.75%

.page__title
  font-size: calc(2.2rem + (4 - 2.2) * ((100vw - 320px) / (1440 - 320)));
  font-weight weight-light
  color gray-color

  


  span
    font-weight weight-bold
    color dark-blue

.page__subtitle
  font-size 1.5rem
  font-weight 400
  color dark-blue

// Form
.page__form
  display flex
  flex-direction column
  gap 1.25rem
  font-size 1.5rem
  margin: 1.75rem 0 3.55rem

.form__input[type="email"]
  padding 1.6rem
  border 0.1rem solid pale-blue
  border-radius 4rem
  font-weight weight-light

.form__input::placeholder
  color pale-blue
  font-weight weight-light
  padding-left 3rem

.form__button
  padding 1.6rem
  background blue-color
  font-weight: weight-semibold
  color white
  border 0.1rem solid blue-color
  border-radius 4rem
  cursor pointer

// Image
.page__image
  max-width 100%
  height 100%

// Footer
.page__footer
  display flex
  flex-direction column
  gap: 3.25rem
  color white
  margin-bottom: 4.65rem

.social__list
  display flex
  justify-content center
  gap 2rem

.social__icon
  display: flex
  justify-content: center
  width 3.75rem
  height 3.75rem
  border 0.1rem solid white
  border-radius: 50%

.social__icon svg
  width 1.7rem
  height auto

